/* MEDIA PARA CELULAR OU LARGURA MENOR QUE ALTURA */
@media (orientation: portrait){
    @media (min-width: 320px){
        /* PÁGINA HOME */
        header nav .first-header .logo-header {   
            width: 70%;
            padding-left: 10px;
        }
        header nav .first-header .button-header {
            width: 30%;
            padding-left: 10px;
            padding-right: 10px;
        }
        header nav .first-header .button-header a{
            width: 100%;
        }
        header nav .first-header .nav-bar ul{
            gap: 40px;
        }
        article .banner .title_home {
            width: 100%;
        }         
        article .banner .title_home h1{
            font-size: 2rem;
        }
        article .banner .title_home h2{
            font-size: 1.3rem;
        }

        article .about-us {
            width: 100%;
            height: auto;
        }

        article .about-us .about-us-content {
            width: 100%;
            height: auto;
            display: flex;
            flex-direction: column;
        }

        article .about-us .about-us-content .about-us-text {
            width: 100%;
            height: auto;
            display: flex;
            flex-direction: column;
        }

        article .about-us .about-us-content .about-us-text span {
            width: 100%;
            height: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        article .about-us .about-us-content .about-us-image{
            width: 90%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            gap: 20px;
            padding: 20px 20px 100px 20px;
        }

        article .about-us .about-us-content .about-us-image div{
            width: 100%;
            height: 100%;
            position:relative;
        }

        article .about-us .about-us-content .about-us-text span:nth-child(1) p {
            font-size: 1.2rem;
            color: #1c1e22;
            text-align: start;
            width: 100%;
        }

        article .about-us .about-us-content .about-us-text .about-us-icons{
            width: 100%;
            height: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        article .about-us .about-us-content .about-us-text .about-us-icons div:nth-child(1){
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            gap: 10px;
        } 

        article .about-us .about-us-content .about-us-text .about-us-icons div:nth-child(1) p{
            width: 100%;
            text-align: center;
            font-size: 1.5rem;
            color: #1E4B9B;
            font-weight: bold;
        }
        
        article .about-us .about-us-content .about-us-text .about-us-icons div:nth-child(2){
            width: 100%;
            height: auto;
            display: flex;
            align-items: center;
            justify-content: start;
        } 
        
        article .about-us .about-us-content .about-us-text .about-us-icons div:nth-child(2) p{
            width: 100%;
            text-align: start;
            font-size: 1rem;
            color: #1c1e22;
            }
            
            article .about-us .about-us-content .about-us-text span:nth-child(5) {
                width: 100%;
                height: auto;
                display: flex;
                justify-content: center;
                flex-direction: row;
                gap: 50px;
            }

            article .about-us .about-us-content .about-us-text span:nth-child(5) button{ 
                width: 100%;
                height: 60px;
                color: white;
                background: #1E4B9B;
                font-size: 1rem;
                font-weight: bold;
                border: none;
                cursor: pointer;
                text-transform: uppercase; 
                border-radius: 10px;
                box-shadow: 0px 0px 10px black;
            }

            article .services{
                width: 100%;
                height: auto;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                padding: 50px 0px;
                background-color: #ffffff;
                border-top: #D12C2C 10px solid; 
                background-image: radial-gradient(circle at 88.69% 27.66%, #f4feff 0, #c9cee5 50%, #a0a0a2 100%);
            }
            
            article .services h2 {
                font-size: 1.5rem;
                color: #1E4B9B;
                text-align: center;
                width: 100%;
                text-transform: uppercase; 
                padding: 20px 0px;
            }
            
            article .services .services-content {
                width: 100%;
                height: auto;
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                justify-content: center;
                gap: 20px;
                padding: 20px;
                
            }

            article .services .services-content .services-container{
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                gap: 20px;
            }

            .reviews-article{
                width: 100%;
                height: auto;
                display: flex;
                align-items: center;  
                flex-direction: column;
                background-image: radial-gradient(circle at 88.69% 27.66%, #f4feff 0, #c9cee5 50%, #a0a0a2 100%);
                border-top: #D12C2C 10px solid;
                padding: 50px 0px;
                border-bottom: #D12C2C 10px solid;
            }
            
            .reviews-article h2 {
                font-size: 1.5rem;
                color: #1E4B9B;
                text-align: center;
                width: 100%;
                text-transform: uppercase; 
                padding: 20px 0px;
            }

            .reviews-article .reviews{
                width: 100%;
                height: auto;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-wrap: wrap;
                gap: 75px;
                padding: 20px;
                flex-direction: column;
            }

            .reviews-article .reviews .review-item {
                width: 100%;
                height: auto;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                gap: 20px;
            }

            .reviews-article .reviews .review-item p{
                width: 100%;
                height: 50px;
                text-align: center;
                font-size: 1rem;
            }

            .contact-article{
                width: 100%;
                height:auto;
                display: flex;
                align-items: center;  
                flex-direction: column;
                background-color: #ffffff;
                padding: 50px 0px;
                background-image: radial-gradient(circle at 88.69% 27.66%, #f4feff 0, #c9cee5 50%, #a0a0a2 100%);
            }

            .contact-article h2 {
                font-size: 1.5rem;
                color: #1E4B9B;
                text-align: center;
                width: 100%;
                text-transform: uppercase; 
                padding: 10px 0px;
            }

            .contact-article .contact .contact-form{
                width: 100%;
                height: auto;
                display: flex;
                align-items: start;
                justify-content: center;
                gap: 20px;
                padding: 20px;
                flex-direction: column;
            }

            .contact-article .contact .contact-form .contact-info{
                width: 100%;
                height: auto;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                gap: 20px;
            }

            .contact-article .contact .contact-form .contact-info .icons-info .icons-itens{
                width: 100%;
                height: auto;
                display: flex;
                gap: 20px;
                padding: 0px 0px 0px 10px;
                
            }

            .contact-article .contact .contact-form form{
                width: 100%;
                height: auto;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-wrap: wrap;
                background: rgb(28,64,129);
                background: radial-gradient(circle, rgba(28,64,129,1) 20%, rgba(27,57,108,1) 57%, rgba(21,50,99,1) 88%);
                gap: 20px 5px;
                padding: 50px;
                border-radius: 10px;
            }

            .contact-article .contact .contact-form form .form-input{
                width: 100%;
                height: auto;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
            }

            footer .footer-content{
                width: 100%;
                height: auto;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 20px;
                flex-direction: column;
                padding-left: 10px;
                
            }

            footer .footer-content .footer-column{
                width: 100%;
                height: auto;
                padding-top: 20px;
                display: flex;
                justify-content: start;
                align-items: center;
                flex-direction: column;
            }

            footer .footer-content .footer-column .nav-footer{
                flex-direction: column;
                
            }

            footer .footer-content .footer-column:nth-child(1) .nav-footer{
                align-items: center;
                justify-content: center;
            }
            footer .footer-content .footer-column:nth-child(1) h3{
                text-align: center;
            }
            footer .footer-content .footer-column:nth-child(3) .nav-footer{
                align-items: center;
                justify-content: center;
            }
            footer .footer-content .footer-column:nth-child(3) h3{
                text-align: center;
            }
        /* PÁGINA HOME */ 


    }
}





/* MEDIA PARA COMPUTADOR OU LARGURA MAIOR QUE ALTURA*/
@media (orientation: landscape){
    @media (min-width: 320px){
        /* PÁGINA HOME */
        /* Adicione suas regras CSS aqui para a página home em modo landscape */
    }
}
        